$lightest-gray: #f7f7f5;
$light-gray: #DFE0E7;
$gray: #A9A8AC;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #3958B9;  //facebook login button:hover
$darkest-blue: #3b5998;  //facebook login button
$blue-gradient-start: #101E57;
$blue-gradient-end: #02050D;

$white: #ffffff;
$white_90: rgba(255, 255, 255, 0.9);
$black: #000000;

$light-green: #00DB4D;
$green: #1db954;

$red: #ff5b5b;

$yellow: #ffef62;

$control-bar: #282828;
$sidebar: rgba(0, 0, 0, .5);
$sidebar-text: #9D9DA6;
