/* Define application-wide selectors here!*/

html {
	position: relative;
	height: 100%;
}

body {
	width: 100%;
	margin: 0 auto;
	font-family: $sans-serif;
	font-size: 18px;
}

button {
	background-color: $light-gray;
	border-color: black;
	color: black;
	font-weight: 700;
	// padding: 5px 10px;
	border-radius: 15px;
	transition: all;
	font-family: "nyt-franklin", "Helvetica Neue", Arial, sans-serif;
	text-transform: inherit;
	font-size: inherit;
	text-align: center;
}

input {
	background: white;
	border: 1px solid $light-gray;
}

a {
	margin: 0px 2px;
	padding: 5px 3px;
	// justify-content: center;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display: none;
}

/*
	Header Rules
*/

hr {
	border: 0;
	height: 1px;
	background-color: $light-gray;
}

.hr-top, .hr-bottom {
	width: 100%;
	margin: 0;
}

.hr-top {
	height: 2px;
	margin-bottom: 1px;
}


.typ-btn {
	margin: 16px 10px;
  padding: 11px 44px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.typ-btn:hover {
  box-shadow: inset 0 0 0 2px $white, 0 0 0 1px transparent;
  transition: none 300ms;
  transition-property: all;
  transform: scale(1.05);
}

.green-btn {
	background: $green;
	color: $white;
}

.black-btn {
  background: $black;
  color: $white;
  border: 1px solid $white;
}
