.song-menu .modal {
  justify-content: flex-start;
  z-index: 20;
}

.song-menu .modal h1 {
  padding-bottom: 7px;
  font-size: 72px;
  font-weight: 700;
}

.add-to-playlist-top {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

.add-to-playlist-playlists {

}
