.control-bar {
  border: 1px solid black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 90px;
  background: $control_bar;
  color: $white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.control-bar-center {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.play-button {
  background: none;
  font-size: 30px;
}
