.demo-login button {
  background: $white_90;
  // background: $darkest-blue;
  color: $black;
  // color: $white;
  text-align: center;
  border-radius: 25px;
  font-weight: 700;
  width: 450px;
  margin-bottom: 20px;
}

.demo-login button:hover {
  background: $light-gray;
  // background: $dark-blue;
}

.demo-login p {
  color: white;
  margin-top: 5px;
}

.demo-login a {
  color: $green;
}
