.demo-login button {
  background: $darkest-blue;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-weight: 700;
  width: 450px;
  // padding-bottom: 20px;
  padding: 12.5px 0;
  margin-bottom: 20px;
}

.demo-login button:hover {
  background: $dark-blue;
}

.demo-login {
  margin-bottom: 20px;

  // border-bottom: 1px solid $light-gray;
}
