.music-player {
  height: 100vh;
  overflow: scroll;
}

.background {
  background: linear-gradient($blue-gs, $blue-ge);
}

.background-collection-playlists {
  background: linear-gradient($yellow-gs, $yellow-ge);
}

.background-collection-your-daily-mix {
  background: linear-gradient($maroon-gs, $maroon-ge);
}

.background-collection-songs {
  background: linear-gradient($blue2-gs, $blue2-ge);
}

.background-collection-albums {
  background: linear-gradient($purple-gs, $purple-ge);
}

.background-collection-artists {
  background: linear-gradient($turquoise-gs, $turquoise-ge);
}

.background-search {
  background: $black;
}

.background-user {
  background: linear-gradient($red-gs, $red-ge);
}

.background-browse-featured {
  background: linear-gradient($blue-gs, $blue-ge);
}

.background-browse-genres-moods {
  background: linear-gradient($light-red-gs, $light-red-ge);
}

.background-browse-new-releases {
  background: linear-gradient($turquoise-gs, $turquoise-ge);
}

.background-browse-discover {
  background: linear-gradient($purple-gs, $purple-ge);
}
