.music-player {
  height: 100vh;
  overflow: scroll;
}

.background {
  background: linear-gradient($blue-gs, $blue-ge);
}

.background-collection {
  background: linear-gradient($yellow-gs, $yellow-ge);
}

.background-search {
  background: $black;
}

.background-user {
  background: linear-gradient($red-gs, $red-ge);
}
