.playlist {
  padding: 28px;
  padding-bottom: 0;
}

.playlist-display {
  display: flex;
  justify-content: flex-start;
  padding: 0 8px 20px 8px;
  border-bottom: 1px solid $white_10;
  margin-bottom: 20px;

}

.playlist-display .album-cover {
  position: relative;
  min-width: 157px;
  width: 25%;
  height: 100%;
  margin-right: 40px;
}

.playlist-display .playlist-title {
  display: flex;
}

.playlist-display .edit-btn {
  background: transparent;
}

.playlist-display .edit-btn i {
  font-size: 15px;
  color: $light-gray;
  transform: translateY(-40%);
}

.playlist-info h1, .playlist-display .playlist-title input {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 36px;
  padding-right: 5px;
}

.playlist-display .playlist-title input {
  background: transparent;
  border: none;
  color: $gray;
  font-style: italic;

}

.playlist-info h2 {
  font-size: 14px;
  line-height: 18px;
}

.playlist-info h2 span {
  color: $gray;
}

.playlist-info .song-count {
  color: $gray;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

.playlist-info .buttons {
  margin-top: 16px;
}

// FOR ADDING PLAYLIST MENU OPTIONS
// .playlist-display .delete-btn {
//   padding: 13px;
//   margin-top: 16px;
//   background: none;
//   border: none;
//   color: $white;
// }


@media screen and (min-width: 1200px) {
  .playlist {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .playlist-display {
    flex-direction: column;
    width: 32%
  }

  .playlist-display .album-cover {
    width: 100%;
    height: auto;
    margin-right: 0px;
  }

  .playlist-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .song-index {
    width: 100%;
  }

}
