.player-controls {
  width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 200;
  margin-bottom: 12px;
}

.player-controls .btn {
  background: none;
  color: $gray;
  -webkit-text-stroke: 1px $control_bar;
  padding: 5px;
}

.player-controls .btn:hover {
  color: $light-gray;
}

.play {
  font-size: 32px;
  font-weight: 200;
}

.play:hover {
  transform: scale(1.1);
  transition-duration: 250ms;
}

.back, .forward {
  font-size: 16px;
}

.repeat-active i, .shuffle-active i {
  color: $green;
}
