.player-controls {
  width: 224px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 200;
}

.player-controls button {
  background: none;
  color: $gray;
}

.play-button {
  font-size: 32px;
  font-weight: 200;
}

.back-button, .forward-button {
  font-size: 16px;
}
