.playlist-form {
  width: 100%;
}

.playlist-form h1 {
  margin: 24px 0;
  padding-bottom: 7px;
  font-size: 48px;
  font-weight: 700;
}

.playlist-form form {
  width: 100%;
}

.playlist-form .title {
  background: none;
  width: 100%;
  border: none;
  color: $white;
  font-size: 48px;
  font-weight: 700;
}

.playlist-form .title ::-webkit-input-placeholder {
  color: $darker-gray;
}

.playlist-form .submit {
  background: none;
}

.playlist-form .input {
  // position: relative;
  background: $darkest-gray;
  text-align: left;
  padding: 32px 20px;
}

.playlist-form .input label {
  font-size: 14px;
}

.playlist-form .buttons {
  padding: 28px 0;
}

.playlist-form-submit input {
  background: none;
  border: none;
  color: $white;
}
