.playlist-search-results {
  text-align: center;
}

.playlist-search-results>h1 {
  font-size: 48px;
  font-weight: 700;
  padding: 10px 0;
}

.playlist-search-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1100px) {
  .playlist-search-index {
    flex-wrap: nowrap;
  }
}
