.playlist {
  padding: 28px;
  padding-bottom: 0;
}

.playlist-display {
  display: flex;
  justify-content: flex-start;
  padding: 0 8px 20px 8px;
  border-bottom: 1px solid $darkest-gray;
  margin-bottom: 20px;
}

.playlist-display .album-cover {
  min-width: 157px;
  width: 28%;
  height: 100%;
  margin-right: 40px;
  padding-bottom: 15px;
}

// .playlist-info {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
// }

.playlist-info h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 36px;
}

.playlist-info h2 {
  font-size: 14px;
  line-height: 18px;
}

.playlist-info h2 span {
  color: $gray;
}

.playlist-info .buttons {
  margin-top: 16px;
}

// FOR ADDING PLAYLIST MENU OPTIONS
// .playlist-display .delete-btn {
//   padding: 13px;
//   margin-top: 16px;
//   background: none;
//   border: none;
//   color: $white;
// }
