.sidebar {
  border: 1px solid black;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 220px;
  background-color: $sidebar;
  color: $sidebar-text;
  padding: 24px 24px 95px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar a {
  display: block;
  font-size: 16px;
  font-weight: 900;
  padding: 10px 0 5px 0;
}

.sidebar-search {
  border: 1px solid $darker-gray;
  border-left: none;
  border-right: none;
}

.sidebar-search div {
  display: flex;
  justify-content: space-between;
  padding: 3px 0;
}

.logout-btn {
  padding: 10px 20px;
}

.sidebar .logo {
  width: 40px;
  padding: 3px 0;
}
