.sidebar-nav {
  padding: 10px 0 5px 0;
}

.sidebar a:hover {
  text-decoration: none;
  color: $white;
  transition-duration: 600ms;
  
}

.sidebar .active {
  color: $green;
}

.sidebar .active:hover {
  color: $green;
}
