.song-index-item {
  height: 56px;
  display: flex;
  align-items: center;
  font-size: 16px;
  position: relative;
}

.song-index-item:hover, .selected-song {
  background-color: $black_30;
}

.song-index-item>div {
  height: 100%;
  display: flex;
  align-items: center;
}

.song-index-item .song-number {
  color: $gray;
  padding-right: 14px;
  justify-content: flex-end;
  font-family: $numerals;
  width: 20px;
}

.song-index-item .song-information {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex: 1;
  font-weight: 350;
}

.song-index-item .song-information .song-title {
  line-height: 20px;
  transform: translateY(-7%);
  margin-bottom: 2px;
}

.song-index-item .song-artist {
  font-size: 12px;
  color: $gray;
}

.song-index-item .song-length {
  color: $gray;
  padding-right: 14px;
  justify-content: flex-end;
  font-family: $numerals;
}

.selected-song .song-information, .selected-song .song-length {
  color: $green;
}

.selected-song .play-pause-icon {
  display: none;
}

.show-song-menu {
  font-family: $numerals;
}

// APPEARS WHEN HOVERING

.show-song-menu, .song-play-btn {
  display: none;
  background: none;
  border: none;
}

.song-index-item:hover .show-song-menu, .selected-song .show-song-menu {
  display: block;
  color: $gray;
  padding-right: 14px;
  letter-spacing: 1.5px;
  font-size: 24px;
  transform: translateY(-5px);
}

.song-index-item:hover .song-play-btn, .selected-song .song-play-btn {
  display: block;
  color: $light-gray;
  position: absolute;
  left: 8px;
  font-size: 20px;
  transform: translateY(-5%);
  font-weight: 400;
}

.song-index-item .song-play-btn:hover {
  transform: scale(1.1);
  color: $white;
}


.selected-song:hover .song-play-btn {
  color: $green
}

.selected-song:hover .noise-icon {
  display: none;
}

.selected-song:hover .play-pause-icon {
  display: block;
}

.selected-song .song-play-btn:hover {
  transform: scale(1.1);
  color: $light-green;
}

.song-index-item:hover .song-number span, .selected-song .song-number span {
  display: none;
}

.selected-song .song-play-btn {
  color: $green;
}
