.user-search-results {
  text-align: center;
}

.user-search-results>h1 {
  font-size: 48px;
  font-weight: 700;
  padding: 10px 0;
}

.user-search-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
