.user-index {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-index-item {
  padding: 0 8px;
  margin-bottom: 35px;
  min-width: 125px;
  max-width: 205px;
  height: auto;
  // flex: 1 0 125px;
}

.user-index-item a {
  display: block;
  font-size: 14px;
  letter-spacing: 1.1px;
}

.user-index-item a:hover {
  text-decoration: none;
}

.user-index-item img {
  border-radius: 200px;
}

.user-index-item p {
  padding: 12px 0 4px 0;
}
