<!DOCTYPE html>
<html>
  <head>
    <title>Pied Piper</title>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" type="image/x-icon" href="https://s3-us-west-1.amazonaws.com/pied-piper-spotify-clone/Images/Logo/logo-tab.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
